<div class="container-fluid">
	<!-- Page Heading -->
	<div class="row">
		<div class="col-xl-12">
			<ol class="breadcrumb">
				<li>
					<a href="Javascript:void(0);" routerLink="/destec/home">Destec</a>
				</li>
				<li class="active">
					Atividades
				</li>
			</ol>
		</div>
	</div>
	<div class="row">
		<div class="col-xl-6">
		</div>
		<div class="form-group input-group col-xl-4">
			<input type="text" class="form-control" [(ngModel)]="filterText" (keydown.Enter)="filter()">
			<span class="input-group-btn"><button class="btn btn-secondary" (click)="filter()" type="button"><i class="fa fa-search"></i></button></span>
		</div>
		<div class="col-xl-2 text-center">
			<!--<a class="btn btn-primary" routerLink="/destec/atividade/detail"><i class="fa fa-plus"></i> Adicionar</a>-->
		</div>
	</div>
	<div class="row">
		<div class="table-responsive">
			<table class="table table-hover table-striped table-sm">
				<thead>
					<tr>
						<th width="10"></th>
						<th width="70">Kit</th>
						<th width="250">Atividade</th>
						<th width="70">Ordem</th>
						<th width="70">Grupo</th>
						<th width="170">Pedido</th>
						<th width="70">Kit Id</th>
						<th>Funcionário</th>
						<th width="80">Tempo</th>
						<th width="80">Intervalo</th>
						<th width="100">Status</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let item of rows">
						<td>
						</td>
						<td>{{ item.tipoAtividade?.kit?.nome }}</td>
						<td>{{ item.tipoAtividade?.nome }}</td>
						<td>{{ item.tipoAtividade?.ordem }}</td>
						<td>{{ item.tipoAtividade?.grupo }}</td>
						<td>{{ item.pedidoItem?.pedido?.codigo }}</td>
						<td>{{ item.kitPedidoId }}</td>
						<td>{{ item.funcionario?.nome }}</td>
						<td>{{ item.tempoFormatted }}</td>
						<td>{{ item.intervaloFormatted }}</td>
						<td>{{ item.statusDescricao }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xl-12 centered">
			<pagination previousText="Anterior" nextText="Próximo" firstText="Primeira" lastText="Última" [totalItems]="totalItems" [(ngModel)]="currentPage"
				[itemsPerPage]="itemsPerPage" [maxSize]="maxSize" class="pagination-sm" [boundaryLinks]="true" [rotate]="false" (numPages)="numPages = $event"
				(pageChanged)="onPageChange($event)">
			</pagination>
		</div>
	</div>
</div>