<div class="container-fluid" [ngBusy]="busy">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-xl-12">
            <ol class="breadcrumb">
                <li><a href="Javascript:void(0);" routerLink="/destec/home">Destec</a>
                </li>
                <li><a href="Javascript:void(0);" routerLink="/destec/pedido/cadastro">Pedido</a>
                </li>
                <li class="active">
                    Registro de Pedidos
                </li>
            </ol>
        </div>
    </div>
    <div class="row col-xl-12">
        <form role="form" #form="ngForm">
            <fieldset [disabled]="blockEdit">
                <div class="row">
                    <div class="form-group col-lg-4">
                        <label>Código do Pedido:</label>
                        <input class="form-control" id="codigo" [(ngModel)]="model.codigo" name="codigo" required/>
                    </div>
                    <div class="form-group col-lg-2">
                        <label>Data do Pedido:</label>
                        <input type="date" class="form-control" id="dataPedido" #date="ngModel" [ngModel]="model.dataPedido" (ngModelChange)="model.dataPedido = $event"
                            name="entrada" required/>
                    </div>
                    <div class="form-group col-lg-2">
                        <label>Prazo:</label>
                        <input type="date" class="form-control" id="prazo" #prazo="ngModel" [ngModel]="model.prazo" (ngModelChange)="model.prazo = $event"
                            name="prazo" min="model.entrada | date" />
                    </div>
                    <div class="form-group col-lg-2">
                        <label>Status:</label>
                        <select class="form-control" id="status" [(ngModel)]="model.status" name="status" disabled>
                            <option value="0">Criado</option>
                            <option value="1">Gerando</option>
                            <option value="2">Gerado</option>
                            <option value="3">Cancelado</option>
                            <option value="4">Finalizado</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label>Descrição:</label>
                        <input class="form-control" id="descricao" [(ngModel)]="model.descricao" name="descricao" />
                    </div>
                    <fieldset class="form-group col-lg-4">
                        <label>Número do Kit:</label>
                        <br>
                        <input type="radio" name="optionsNumeroKit" [(ngModel)]="optionsNumeroKit" id="optionSerial" value="1" checked=""> Serial
                        <br>
                        <input type="radio" name="optionsNumeroKit" [(ngModel)]="optionsNumeroKit" id="optionApartamento" value="2"> Andar/Apartamento
                    </fieldset>
                </div>
            </fieldset>
            <br>
        </form>
        <form role="formPedidoItem" #formPedidoItem="ngForm">
            <div class="card card-block">
                <fieldset>
                    <div class="row" [hidden]="blockEdit || !optionsNumeroKit">
                        <div class="form-group col-lg-2">
                            <label>Kit:</label>
                            <select class="form-control" id="kitId" [(ngModel)]="pedidoItem.kitId" (ngModelChange)="selectKit($event)" name="kitId" required>
                                <option *ngFor="let item of kits" [ngValue]="item.id">{{item.nome}}</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-2" [hidden]="optionsNumeroKit != 1">
                            <label>Quantidade:</label>
                            <input type="number" step="1" class="form-control" id="quantidade" [(ngModel)]="pedidoItem.quantidade" name="quantidade"
                                [required]="optionsNumeroKit == 1"/>
                        </div>
                        <div class="form-group col-lg-2" [hidden]="optionsNumeroKit != 1">
                            <label>Número Inicial:</label>
                            <input type="number" step="1" class="form-control" id="numeroInicial" [(ngModel)]="pedidoItem.numeroInicial" name="numeroInicial" [hidden]="optionsNumeroKit == 2"/>
                        </div>
                        <div class="form-group col-lg-4" [hidden]="optionsNumeroKit != 1" >
                        </div>
                        <div class="form-group col-lg-2" [hidden]="optionsNumeroKit != 2">
                            <label>Andar Inicial:</label>
                            <input type="number" step="1" class="form-control" id="andarInicial" [(ngModel)]="pedidoItem.andarInicial" name="andarInicial"
                                [required]="optionsNumeroKit == 2"/>
                        </div>
                        <div class="form-group col-lg-2" [hidden]="optionsNumeroKit != 2">
                            <label>Qtd Andares:</label>
                            <input type="number" step="1" class="form-control" id="quantidadeAndar" [(ngModel)]="pedidoItem.quantidadeAndar" name="quantidadeAndar"
                                [required]="optionsNumeroKit == 2"/>
                        </div>
                        <div class="form-group col-lg-2" [hidden]="optionsNumeroKit != 2">
                            <label>Apto/Andar:</label>
                            <input type="number" step="1" class="form-control" id="quantidadeApartamentosAndar" [(ngModel)]="pedidoItem.quantidadeApartamentosAndar" name="quantidadeApartamentosAndar"
                                [required]="optionsNumeroKit == 2"/>
                        </div>
                        <div class="form-group col-lg-2" [hidden]="optionsNumeroKit != 2">
                            <label>Bloco:</label>
                            <input class="form-control" id="bloco" [(ngModel)]="pedidoItem.bloco" name="bloco"/>
                        </div>
                    <!--</div>
                    <div class="row" [hidden]="blockEdit">
                        <div class="form-group col-lg-4">
                            <label>Descrição:</label>
                            <input class="form-control" id="descricao" [(ngModel)]="pedidoItem.descricao" name="descricao" />
                        </div>
                        <div class="form-group col-lg-4">
                        </div>
                         <div class="form-group col-lg-2" [hidden]="this.pedidoItem.id" >
                        </div>-->
                        <div class="form-group col-lg-1" [hidden]="this.pedidoItem.id">
                        </div>
                        <div class="col-lg-1 text-center" [hidden]="!this.pedidoItem.id">
                            <label>&nbsp;</label>
                            <button type="button" class="btn btn-default btn-block" (click)="cancelChange()">
                                <i class="fa fa-times" ></i>
                            </button>
                        </div>
                        <div class="col-lg-1 text-center" [hidden]="this.pedidoItem.id > 0">
                            <label>&nbsp;</label>
                            <button type="button" class="btn btn-primary btn-block" [disabled]="!formPedidoItem.form.valid || !pedidoItem.kitId" (click)="addItem()">
                                <i class="fa fa-plus" ></i>
                            </button>
                        </div>
                        <div class="col-lg-1 text-center" [hidden]="!this.pedidoItem.id">
                            <label>&nbsp;</label>
                            <button type="button" class="btn btn-primary btn-block" (click)="addItem()">
                                <i class="fa fa-check" ></i>
                            </button>
                        </div>
                    </div>
                </fieldset>
                <br>

                <div class="table-responsive">
                    <table class="table table-hover table-striped table-sm">
                        <thead class="thead-default">
                            <tr>
                                <th width="40"></th>
                                <th>Kit</th>
                                <th>Quantidade</th>
                                <th>Número Inicial</th>
                                <th>Andar Inicial</th>
                                <th>Qtd Andar</th>
                                <th>Qtd Apto/Andar</th>
                                <th>Bloco</th>
                                <th *ngIf="formType === 'edit'" width="90">Pendentes</th>
                                <th width="50"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of model?.itens" (click)="selectRow(item)">
                                <td>
                                    &nbsp;
                                    <a *ngIf="!model.id" (click)="onDelete(item)"><i class="fa fa-remove"></i></a>
                                </td>
                                <td>{{ item.kit?.nome }}</td>
                                <td>{{ item.quantidade }}</td>
                                <td>{{ item.numeroInicial }}</td>
                                <td>{{ item.andarInicial }}</td>
                                <td>{{ item.quantidadeAndar }}</td>
                                <td>{{ item.quantidadeApartamentosAndar }}</td>
                                <td>{{ item.bloco }}</td>
                                <td *ngIf="formType === 'edit'">{{ item.quantidade ? item.quantidade : item.quantidadeAndar * item.quantidadeApartamentosAndar }}</td>
                                <td>{{ item.cancelado ? 'Cancelado' : '' }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2">
                    <label>&nbsp;</label>
                    <button [hidden]="!blockEdit || model.status !== 0" (click)="blockEdit = false" class="btn btn-warning btn-block">Editar</button>
                </div>
                <div class="form-group col-lg-1">
                </div>
                <div class="col-lg-2">
                    <label>&nbsp;</label>
                    <button [hidden]="!model.id || !blockEdit || model.status !== 2" (click)="cancelarPedido()" class="btn btn-error btn-block">Cancelar Pedido</button>
                </div>
                <div class="col-lg-2">
                    <label>&nbsp;</label>
                    <button [hidden]="!model.id || !blockEdit || model.status !== 0 || model.itens.length === 0" (click)="gerarPedido()" class="btn btn-warning btn-block">Gerar</button>
                </div>
                <div class="form-group col-lg-1">
                </div>
                <div class="col-lg-2">
                    <label>&nbsp;</label>
                    <button routerLink="/destec/pedido/cadastro" class="btn btn-default btn-block">Fechar</button>
                </div>
                <div class="col-lg-2">
                    <label>&nbsp;</label>
                    <button type="button" (click)="save()" [disabled]="!form.form.valid || blockEdit" class="btn btn-primary btn-block">Salvar</button>
                </div>
            </div>
        </form>
    </div>
</div>