<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-xl-12">
            <ol class="breadcrumb">
                <li><a href="Javascript:void(0);" routerLink="/destec/home">Destec</a>
                </li>
                <li><a href="Javascript:void(0);" routerLink="/destec/pedido/cadastro">Pedido</a>
                </li>
                <li class="active">
                    Registro de Pedidos
                </li>
            </ol>
        </div>
    </div>
    <div class="row col-xl-12">
        <form role="form" #form="ngForm">
            <fieldset [disabled]="blockEdit">
                <div class="row">
                    <div class="form-group col-lg-4">
                        <label>Código do Pedido:</label>
                        <input class="form-control" id="codigo" [(ngModel)]="model.codigo" name="codigo" required/>
                    </div>
                    <div class="form-group col-lg-2">
                        <label>Data do Pedido:</label>
                        <input type="date" class="form-control" id="dataPedido" #date="ngModel" [ngModel]="model.dataPedido" (ngModelChange)="model.dataPedido = $event"
                            name="entrada" required/>
                    </div>
                    <div class="form-group col-lg-2">
                        <label>Prazo:</label>
                        <input type="date" class="form-control" id="prazo" #prazo="ngModel" [ngModel]="model.prazo" (ngModelChange)="model.prazo = $event"
                            name="prazo" min="model.entrada | date" />
                    </div>
                    <div class="form-group col-lg-4">
                        <label>Cliente:</label>
                        <input class="form-control" ng2-auto-complete [source]="clientes" id="cliente" [(ngModel)]="model.cliente" name="cliente"
                            min-chars="2" [accept-user-input]="true">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-8">
                        <label>Descrição:</label>
                        <input class="form-control" id="descricao" [(ngModel)]="model.descricao" name="descricao" />
                    </div>
                    <div class="form-group col-lg-2">
                        <label>Status:</label>
                        <select class="form-control-sm" id="cancelado" [(ngModel)]="model.cancelado" name="cancelado" disabled>
                            <option value="true">Cancelado</option>
                        </select>
                    </div>
                </div>
            </fieldset>
            <br>
        </form>
        <form role="formPedidoItem" #formPedidoItem="ngForm">
            <div class="card card-block">
                <fieldset>
                    <div class="row" [hidden]="blockEdit">
                        <div class="form-group col-lg-2">
                            <label>Kit:</label>
                            <select class="form-control" id="kitId" [(ngModel)]="pedidoItem.kitId" (ngModelChange)="selectKit($event)" name="kitId" required>
                                <option *ngFor="let item of kits" [ngValue]="item.id">{{item.nome}}</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-2">
                            <label>Quantidade:</label>
                            <input type="number" step="1" class="form-control" id="quantidade" [(ngModel)]="pedidoItem.quantidade" name="quantidade"
                                required/>
                        </div>
                        <div class="form-group col-lg-4">
                            <label>Descrição:</label>
                            <input class="form-control" id="descricao" [(ngModel)]="pedidoItem.descricao" name="descricao" />
                        </div>
                        <div class="col-lg-2 text-center">
                            <label>&nbsp;</label>
                            <button type="button" class="btn btn-default btn-block" (click)="cancelChange()">
                                <i class="fa fa-times" ></i> Cancelar
                            </button>
                        </div>
                        <div class="col-lg-2 text-center" [hidden]="this.pedidoItem.id > 0">
                            <label>&nbsp;</label>
                            <button type="button" class="btn btn-primary btn-block" [disabled]="!formPedidoItem.form.valid || !pedidoItem.kitId" (click)="addItem()">
                                <i class="fa fa-plus" ></i> Tarefa
                            </button>
                        </div>
                        <div class="col-lg-2 text-center" [hidden]="!this.pedidoItem.id">
                            <label>&nbsp;</label>
                            <button type="button" class="btn btn-primary btn-block" (click)="addItem()">
                                <i class="fa fa-check" ></i> Alterar
                            </button>
                        </div>
                    </div>
                </fieldset>
                <br>

                <div class="table-responsive">
                    <table class="table table-hover table-striped table-sm">
                        <thead class="thead-default">
                            <tr>
                                <th width="40"></th>
                                <th>Kit</th>
                                <th>Quantidade</th>
                                <th>Descrição</th>
                                <th *ngIf="formType === 'edit'" width="90">Pendentes</th>
                                <th width="50"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of model?.itens" (click)="selectRow(item)">
                                <td>
                                    &nbsp;
                                    <a *ngIf="!model.id" (click)="onDelete(item)"><i class="fa fa-remove"></i></a>
                                </td>
                                <td>{{ item.kit?.nome }}</td>
                                <td>{{ item.quantidade }}</td>
                                <td>{{ item.descricao }}</td>
                                <td *ngIf="formType === 'edit'">{{ item.quantidade }}</td>
                                <td>{{ item.cancelado ? 'Cancelado' : '' }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2">
                    <label>&nbsp;</label>
                    <button [hidden]="!blockEdit" (click)="blockEdit = false" class="btn btn-warning btn-block">Editar</button>
                </div>
                <div class="form-group col-lg-2">
                </div>
                <div class="col-lg-2">
                    <label>&nbsp;</label>
                    <button [hidden]="!model.id" (click)="gerarPedido()" class="btn btn-warning btn-block">Gerar</button>
                </div>
                <div class="form-group col-lg-2">
                </div>
                <div class="col-lg-2">
                    <label>&nbsp;</label>
                    <button routerLink="/destec/pedido/cadastro" class="btn btn-default btn-block">Fechar</button>
                </div>
                <div class="col-lg-2">
                    <label>&nbsp;</label>
                    <button type="button" (click)="save()" [disabled]="!form.form.valid || blockEdit" class="btn btn-primary btn-block">Salvar</button>
                </div>
            </div>
        </form>
    </div>
</div>