<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-xl-12">
            <ol class="breadcrumb">
                <li><a href="Javascript:void(0);" routerLink="/destec/home">Destec</a>
                </li>
                <li><a href="Javascript:void(0);" routerLink="/destec/funcionario/cadastro">Funcionario</a>
                </li>
                <li class="active">
                    Registro de Funcionário
                </li>
            </ol>
        </div>
    </div>
    <div class="row col-xl-12">
        <form role="form" #form="ngForm">
            <fieldset [disabled]="blockEdit">
                <div class="row">
                    <div class="form-group col-lg-4">
                        <label>Nome do Funcionário:</label>
                        <input class="form-control" id="nome" [(ngModel)]="model.nome" name="nome" required/>
                    </div>
                    <div class="form-group col-lg-2">
                        <label>Status:</label>
                        <select class="form-control" id="inativo" [(ngModel)]="model.inativo" name="inativo" required>
                            <option value="false">Ativo</option>
                            <option value="true">Inativo</option>
                        </select>
                    </div>
                    <div class="col-lg-2">
                        <label>Código:</label>
                        <input class="form-control" id="codigo" [(ngModel)]="model.codigo" name="codigo" disabled/>
                    </div>
                    <div class="col-lg-2" [hidden]="model.id">
                        <label>&nbsp;</label>
                        <button (click)="getCode()" class="btn btn-primary btn-block">Gerar código</button>
                    </div>
                    <div class="col-lg-3" [hidden]="!model.id">
                        <label>&nbsp;</label>
                        <button (click)="liberarUsuario()" class="btn btn-warning btn-block">Liberar tarefas do funcionário</button>
                    </div>
                </div>
            </fieldset>
            <br>
        </form>
        <form role="formTarefaAssociada" #formTarefaAssociada="ngForm">
            <div class="card card-block">
                <fieldset>
                    <div class="row" [hidden]="blockEdit">
                        <div class="form-group col-lg-4">
                            <label>Nome do Kit:</label>
                            <select class="form-control" id="kitId" [(ngModel)]="tarefaAssociada.kitId" (ngModelChange)="updateGrupo($event)" name="kitId"
                                required>
                                <option *ngFor="let item of kits" [ngValue]="item.id">{{item.nome}}</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-2">
                            <label>Grupo do Kit:</label>
                            <select class="form-control" id="grupo" [(ngModel)]="tarefaAssociada.grupo" name="grupo" required>
                                <option *ngFor="let item of grupos | async" [ngValue]="item">{{item}}</option>
                            </select>
                        </div>
                        <div class="col-lg-2 text-center">
                            <label>&nbsp;</label>
                            <button type="button" class="btn btn-default btn-block" (click)="cancelChange()">
                                <i class="fa fa-times" ></i> Cancelar
                            </button>
                        </div>
                        <div class="col-lg-2 text-center" [hidden]="this.tarefaAssociada.id > 0">
                            <label>&nbsp;</label>
                            <button type="button" class="btn btn-primary btn-block" [disabled]="!formTarefaAssociada.form.valid || !tarefaAssociada.kitId" (click)="addAtividade()">
                                <i class="fa fa-plus" ></i> Tarefa
                            </button>
                        </div>
                        <div class="col-lg-2 text-center" [hidden]="!this.tarefaAssociada.id">
                            <label>&nbsp;</label>
                            <button type="button" class="btn btn-primary btn-block" (click)="addAtividade()">
                                <i class="fa fa-check" ></i> Alterar
                            </button>
                        </div>
                    </div>
                </fieldset>
                <br>

                <div class="table-responsive">
                    <table class="table table-hover table-striped table-sm">
                        <thead class="thead-default">
                            <tr>
                                <th width="40"></th>
                                <th>Kit</th>
                                <th>Grupo de atividade</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of model?.tarefaAssociadas" (click)="selectRow(item)">
                                <td>
                                    &nbsp;
                                    <a [hidden]="blockEdit" (click)="onDelete(item)"><i class="fa fa-remove"></i></a>
                                </td>
                                <td>{{ item.kit?.nome }}</td>
                                <td>{{ item.grupo }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2">
                    <label>&nbsp;</label>
                    <button [hidden]="!blockEdit" (click)="blockEdit = false" class="btn btn-warning btn-block">Editar</button>
                </div>
                <div class="form-group col-lg-6">
                </div>
                <div class="col-lg-2">
                    <label>&nbsp;</label>
                    <button routerLink="/destec/funcionario/cadastro" class="btn btn-default btn-block">Fechar</button>
                </div>
                <div class="col-lg-2">
                    <label>&nbsp;</label>
                    <button type="button" (click)="save()" [disabled]="!form.form.valid || blockEdit || this.tarefaAssociada.id > 0" class="btn btn-primary btn-block">Salvar</button>
                </div>
            </div>
        </form>
    </div>
</div>